@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opsional: Biar scroll halus */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff; /* Pastikan background putih */
}